pandas
numpy<2.0
scipy<1.13.0
h5py==3.7.0
tensorflow
notebook
matplotlib
nltk
pillow
huggingface-hub
datasets
wandb
dvc
ipykernel
python-box==6.0.2
tqdm
pyYAML
ensure==1.0.2
joblib
types-pyYAML
Flask
Flask-Cors
python-dotenv
kaggle

-e .